{% extends 'base.html' %}

{% block head %}
    <title>Delete Set</title>
{% endblock %} 

{% block main %}
    <h2 class='page-header'>Choose a Set of Cards to Delete</h2>
    {% for set_name in sets %} 
        <a id='delete-set' href='/delete-set/{{set_name}}'><button class='delete-button'>{{set_name.replace('_', ' ')}}</button></a>
        <br>
    {% endfor %} 
{% endblock %} 


{% block nav %} 
    <a href='/'><button class='menu-button'>Main Menu</button></a>
{% endblock %} 

{% block javascript %} 
    <script>
        document.getElementById('delete-set').
        addEventListener('click', () => {
            confirm("Are you sure you want to delete this set of cards?")
        })
    </script>
{% endblock %} 
